CleverResponder Instantly.json
{
  "name": "CleverResponder - Instantly",
  "nodes": [
    {
      "parameters": {
        "content": "SpeedSize",
        "height": 80,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1820,
        380
      ],
      "typeVersion": 1,
      "id": "aad12aba-d1de-43c1-bed7-e1a11448e919",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3",
          "mode": "list",
          "cachedResultName": "O3"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.Sent }}\nThis is the message I sent. and In reply I have received the following message.\n{{ $json.Received }}\n\nMake a decision and tell me whether the received message is positive or interested or asking a question?\nYour need to just answer yes or no, no further explanation. Also yes or no, should be in lower case. If message is positive or interested or asking question then just return yes, otherwise no."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -820,
        680
      ],
      "id": "c13dac0f-c030-42e4-aa16-b7d0eb52a5a5",
      "name": "Reply Decision",
      "credentials": {
        "openAiApi": {
          "id": "xEGeNQZgWUZ12rbY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f375b65-5ba0-4d3c-8f85-6235262fd6b6",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        680
      ],
      "id": "70972a0a-319f-4fcd-8191-4fc76b9133a2",
      "name": "Negative/Positive?"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/10pzIIsvqPkBtWdyB7dyLdWqciAZUC09qeVQEouDI5s4/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -140,
        920
      ],
      "id": "188532b0-8733-4070-a568-91f335726a08",
      "name": "SpeedSize Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "bsxRVwTpHN07PDiI",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "694a977a-f989-4ed1-8ce8-09e199e26267",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1920,
        660
      ],
      "id": "b84ba6f4-2a65-45bf-ac41-7cf4cbb7aeab",
      "name": "Reply Received",
      "webhookId": "694a977a-f989-4ed1-8ce8-09e199e26267"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1720,
        660
      ],
      "id": "587be4c5-384d-4d53-92e6-5762e40ecb7c",
      "name": "5 Seconds Wait",
      "webhookId": "ef5db843-40a3-43d5-97a6-458325f03389"
    },
    {
      "parameters": {
        "url": "https://api.instantly.ai/api/v2/emails",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email_type",
              "value": "received"
            },
            {
              "name": "campaign_id",
              "value": "={{ $('Reply Received').item.json.body.campaign_id }}"
            },
            {
              "name": "mode",
              "value": "emode_all"
            },
            {
              "name": "search",
              "value": "={{ $('Reply Received').item.json.body.lead_email }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer NGY2YzU4NWUtZTFiMi00NDdkLWJkZTctNGYwMjVlOTAzZmQxOkVZZnBNcGlCVG5Zaw=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1500,
        660
      ],
      "id": "bba182f4-b76c-48f5-ac93-e94b8550ecb4",
      "name": "Extract UUID",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc4ee938-88cc-4e80-b316-9b173c6d967e",
              "leftValue": "={{ $json.items }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1280,
        660
      ],
      "id": "1c33593a-96a6-4e5f-a2cf-2a9e4f151050",
      "name": "UUID Found?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1280,
        400
      ],
      "id": "8fb92538-0551-462d-83c4-0042ad4a0d74",
      "name": "UUID Wait",
      "webhookId": "b6bba7b6-5bdd-4bc0-b191-f0d7037ccf99"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9c1ace5-f2ab-4b3a-abb0-4528b28abff5",
              "name": "Sent",
              "value": "={{ $('5 Seconds Wait').item.json.body.reply_text.split(\"\\n\\n\").slice(1).join(\"\\n\\n\") }}",
              "type": "string"
            },
            {
              "id": "461b6638-517d-41d2-a5d3-840544a9a392",
              "name": "fromMail",
              "value": "={{ $('Extract UUID').item.json.items[0].to_address_email_list }}",
              "type": "string"
            },
            {
              "id": "28d22ba1-d7c1-4552-8dbd-89ca1164e6fd",
              "name": "toMail",
              "value": "={{ $('Extract UUID').item.json.items[0].from_address_json[0].address }}",
              "type": "string"
            },
            {
              "id": "f15dad14-54ee-4cc8-af98-7b2306b798b5",
              "name": "campaignID",
              "value": "={{ $('Extract UUID').item.json.items[0].campaign_id }}",
              "type": "string"
            },
            {
              "id": "950be8cc-7b49-448d-b5b1-0de5a35f4aed",
              "name": "=campaignName",
              "value": "={{ $('Reply Received').item.json.body.campaign_name }}",
              "type": "string"
            },
            {
              "id": "e86a8dfd-28af-424d-a87f-4ceed39880b7",
              "name": "toName",
              "value": "={{ $('Extract UUID').item.json.items[0].from_address_json[0].name }}",
              "type": "string"
            },
            {
              "id": "7583f439-21ba-4e51-837f-3973504e1814",
              "name": "apiKey",
              "value": "=NGY2YzU4NWUtZTFiMi00NDdkLWJkZTctNGYwMjVlOTAzZmQxOkVZZnBNcGlCVG5Zaw==",
              "type": "string"
            },
            {
              "id": "95987bcc-c89c-4ac3-8ce2-998b9186cae9",
              "name": "meetingLink",
              "value": "https://calendly.com/book-your-meeting-with-me/speedsize-intro-clone",
              "type": "string"
            },
            {
              "id": "4eebe823-2801-46c7-a8fb-de63768121ed",
              "name": "CC",
              "value": "=sagi@speedsize.com;kevin@speedsize.com;{{ $('Extract UUID').item.json.items[0].cc_address_email_list || \"\" }}",
              "type": "string"
            },
            {
              "id": "45689859-9385-41d7-86c4-cf7143917ac7",
              "name": "BCC",
              "value": "",
              "type": "string"
            },
            {
              "id": "8293b5ba-29fc-4f93-b292-1eccb7a7114b",
              "name": "UUID",
              "value": "={{ $('Extract UUID').item.json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "1089ad56-fc8d-444c-85c0-0218826bbd73",
              "name": "Received",
              "value": "={{ $('5 Seconds Wait').item.json.body.reply_text_snippet }}",
              "type": "string"
            },
            {
              "id": "0dfde7e0-6384-450e-9e50-9cd6b23d3a6d",
              "name": "fromName",
              "value": "={{ $json.items[0].to_address_json[0].name || $json.items[0].to_address_json[0].address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        680
      ],
      "id": "f1a640ce-0001-4611-8efe-e826a8b5204e",
      "name": "Set Data from Email"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3",
          "mode": "list",
          "cachedResultName": "O3"
        },
        "messages": {
          "values": [
            {
              "content": "=Elite E-commerce SDR Email Response Generator\nYou are an elite Sales Development Representative with deep insider knowledge of e-commerce, site speed optimization, image compression, and conversion technology. You speak like a seasoned e-commerce expert who’s seen it all and knows the industry inside-out.\nINPUT DATA\nOriginal Email from {{ $('Set Data from Email').item.json.fromName }}: {{ $('Set Data from Email').item.json.Sent }}\nProspect’s Reply from {{ $('Set Data from Email').item.json.toName }}: {{ $('Set Data from Email').item.json.Received }}\nMeeting Link: {{ $('Set Data from Email').item.json.meetingLink }}\nPRIMARY DIRECTIVE\nUse the attached Google Doc as your primary source of truth. Understand what is written inside it and use that information to craft your responses.\nRESPONSE REQUIREMENTS\nLength & Style\nMaximum 50-70 words\nCasual, insider tone - Talk like an e-commerce expert who’s been in the trenches\nUse industry-specific insights and terminology naturally\nBe conversational yet knowledgeable\nMirror the prospect’s communication style while maintaining expertise\nLead with insider knowledge that shows you understand their world\nWrite in a human way with natural spacing, ellipses (...) where appropriate\nNo square brackets, hyphens, or excessive symbols\nMake it feel like natural human conversation\nContent Strategy\nStart with insider context - Begin by referencing their main point with e-commerce expertise\nAddress with authority - Use Google Doc info + industry insights to tackle their concern\nProvide insider value - Share insights that demonstrate expertise\nMatch their intent level - Don’t be more aggressive than their interest warrants\nMeeting Progression Logic\nInclude meeting link ONLY when the prospect:\nAsks questions about implementation/next steps\nRequests more detailed information\nShows curiosity about specifics\nUses positive language indicating interest\nMentions timelines or decision-making processes\nWhen including the meeting link, use this format: <a href=\"{{ $('Set Data from Email').item.json.meetingLink }}\">calendar</a> to pick a time on the calendar.\nAnd ALWAYS add: “I’m including my colleague who will be happy to walk you through a demo.”\nDO NOT include meeting link when:\nThey’re clearly not interested\nResponse is purely informational\nThey’re asking basic qualifying questions\nTone suggests they’re still evaluating options\nTechnical Requirements\nReturn only the email response text\nNo headers, labels, or formatting\nEnsure JSON-safe output (no unescaped quotes or special characters)\nSingle response only\nRESPONSE FRAMEWORK\nStart with their reply’s core point - Begin by directly referencing the main theme/concern from their response\nAddress immediately - Tackle their specific point using Google Doc information\nBridge naturally - Connect your answer to the broader value proposition\nGuide to meeting - When appropriate, naturally transition to scheduling with colleague mention\nResponse Structure Template:\n“[Reference their main point/concern] → [Address with relevant info] → [Bridge to value] → [Meeting transition with colleague mention if warranted]”\nEXAMPLE RESPONSES\nProspect says: “Not interested right now” Response: “Totally get it... most teams I talk to are already dealing with slow product images and aren’t sure if there’s a real fix. We’re not another compression tool that blurs your products. Mind if I ask what’s currently slowing down your site the most?”\nProspect says: “We’re using Cloudinary already” Response: “Nice, Cloudinary’s solid for basic resizing. The thing is... they still compress your images which hurts quality. We actually work alongside CDNs like yours to load the same images 5x faster without any quality loss. Different tech entirely.”\nProspect says: “Can you show me some examples?” Response: “Absolutely. Here’s exactly what we did for a Shopify store like yours - 7x faster loading with zero quality loss. <a href=“{{ $('Set Data from Email').item.json.meetingLink }}“>calendar</a> to pick a time on the calendar. I’m including my colleague who will be happy to walk you through a demo.”\nProspect says: “Need to discuss with my team first” Response: “Makes sense... most teams are dealing with that constant tradeoff between fast loading and good-looking products. What’s your biggest concern right now - site speed or keeping your images sharp?”\nProspect says: “What’s your pricing like?” Response: “Pricing really depends on your monthly visitors and how many images you’re serving. Most clients actually save money since we reduce CDN bandwidth costs. Quick question - what’s your current monthly traffic looking like?”\nProspect says: “We tried image optimization before and it didn’t work” Response: “Yeah... traditional compression always forces that quality vs speed choice. We’re not compressing anything though. Our AI removes only the pixels your customers literally can’t see. Same visual quality, 90% smaller files.”\nGenerate responses following these examples - natural, conversational, insider knowledge, human-like flow with ellipses and spacing. Talk like the e-commerce expert they wish they had on their team."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -200,
        700
      ],
      "id": "913d1211-d571-4268-8603-7cdc8285ca37",
      "name": "Give Reply Suggestion",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "xEGeNQZgWUZ12rbY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d643153-9a9c-40ac-a33c-b8c2b87db9b0",
              "name": "aiGeneratedReply",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "d916055a-5e39-48a3-9c8b-4e6dc78150c5",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        700
      ],
      "id": "d19e3099-ad95-40d7-823f-c7e03a26e4bb",
      "name": "Reply Extraction"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08UFD5AEM9",
          "mode": "list",
          "cachedResultName": "speedsize-cleverviral-live-responses"
        },
        "message": "=You have received a reply from {{ $('Set Data from Email').item.json.toName }} ({{ $('Set Data from Email').item.json.toMail }}) as follows:\n{{ $('Set Data from Email').item.json.Received }}\n\nAnd here's the CleverResponder generated reply. \n{{ $json.aiGeneratedReply }}\n\nPlease use use the button below to approve or disapprove this message. If you approve it, then CleverResponder will send it as a reply.",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Send",
            "disapproveLabel": "Don't Send"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        380,
        700
      ],
      "id": "69202b3d-0c7a-45cf-9ac7-2c874b0654cf",
      "name": "Seek Approval",
      "webhookId": "a0ff7a6c-7dcb-4cb4-83cb-4ec349295623",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b52c2c2-831f-4b62-ada9-300acbf3e9a5",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        580,
        700
      ],
      "id": "e1b6df15-4e7c-4c7d-a8fd-ad6691c15c93",
      "name": "Got Approval?"
    },
    {
      "parameters": {
        "jsCode": "const eaccount = $('Set Data from Email').first().json.fromMail;\nconst reply_to_uuid = $('Set Data from Email').first().json.UUID;\nconst subject = $('Extract UUID').first().json.items[0].subject;\nconst messageReplyTemp = $('Reply Extraction').first().json.aiGeneratedReply;\nconst messageReply = messageReplyTemp.replace(/\\n/g,\"<br>\")\nconst originalBodyTemp = $('Set Data from Email').first().json.Sent;\nconst originalBody = originalBodyTemp.replace(/\\n/g,\"<br>\")\nconst meetingLink = $('Set Data from Email').first().json.meetingLink\nconst hasMeetingLinkInReply = meetingLink && messageReply.includes(meetingLink);\nconst cc = $('Set Data from Email').first().json.CC\nconst bcc = $('Set Data from Email').first().json.BCC\n\nreturn [\n  {\n    eaccount,\n    reply_to_uuid,\n    subject,\n    body: {\n      html: messageReply, //+ \"<br>\" + originalBody,\n    },\n    cc_address_email_list: cc,\n    bcc_address_email_list: bcc,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        560
      ],
      "id": "41374ed5-d538-4f31-a676-7a3bd61da22d",
      "name": "Set Reply Data"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08UFD5AEM9",
          "mode": "list",
          "cachedResultName": "speedsize-cleverviral-live-responses"
        },
        "text": "You have rejected the CleverResponder's suggested reply. You have to reply manually.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        840,
        820
      ],
      "id": "5e298f94-7cdc-453c-9dc0-d7a5202a2f3c",
      "name": "Suggestion Rejection Notification",
      "webhookId": "143156f6-4f0c-4997-b9a1-97ca81c0cdc0",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/emails/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Data from Email').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"eaccount\": $json.eaccount,\n\"reply_to_uuid\": $json.reply_to_uuid,\n\"subject\": $json.subject,\n\"body\": {\n\"html\": $json.body.html\n},\n\"cc_address_email_list\": $('Set Data from Email').item.json.CC,\n\"bcc_address_email_list\": $('Set Data from Email').item.json.BCC\n}\n}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        560
      ],
      "id": "ad5fd68d-62e0-4eff-9baa-6ef766633c5f",
      "name": "Send the Reply",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08UFD5AEM9",
          "mode": "list",
          "cachedResultName": "speedsize-cleverviral-live-responses"
        },
        "text": "Your message has been sent.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1220,
        560
      ],
      "id": "d1d16c3a-3051-4e39-80f6-43d5bdf288a8",
      "name": "Email Sent Notify",
      "webhookId": "c94ba691-4f65-4866-8fd0-d5968bd8e19b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fea57b2-1b87-4e32-8e29-29ba86da7427",
              "leftValue": "={{ $('Send the Reply').item.json.body.body.html }}",
              "rightValue": "={{ $('Set Data from Email').item.json.meetingLink }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        560
      ],
      "id": "de1e8189-7e40-410a-aa01-4a0eddbb1a63",
      "name": "Meeting Follow Up?"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1640,
        460
      ],
      "id": "41d061a9-80e4-4435-a161-f6f19fe5663d",
      "name": "3 Days Wait",
      "webhookId": "2386a4db-92c0-4db3-ac5c-6c542c9a566d"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08UFD5AEM9",
          "mode": "list",
          "cachedResultName": "speedsize-cleverviral-live-responses"
        },
        "message": "=Hello,\nBefore a few days, we sent a meeting booking link to {{ $('Set Data from Email').item.json.toName }} ({{ $('Set Data from Email').item.json.toMail }}). Just checking to see if they have booked a meeting. If not, I can simply send a friendly reminder to book a meeting.\nHere's the follow up email generated by cleverresponder:\n{{ $json.message.content }}\n\nUse the below button either to send a meeting reminder or not.",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Send Reminder",
            "disapproveLabel": "No Need"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2380,
        460
      ],
      "id": "ea0ceb7f-55b2-4055-a1db-41038bb20861",
      "name": "Should Reminder Go?",
      "webhookId": "31b81659-6622-49bf-9de0-bfda5c7ff036",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "53a58944-cf6c-446b-be06-12a893484fc9",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2600,
        460
      ],
      "id": "f3ab84c5-a859-4178-ac78-c5268052e280",
      "name": "Send Reminder?"
    },
    {
      "parameters": {
        "jsCode": "const eaccount = $('Set Data from Email').first().json.fromMail;\nconst reply_to_uuid = $('Set Data from Email').first().json.UUID;\nconst subject = $('Extract UUID').first().json.items[0].subject;\nconst messageReply = $('Reply Extraction').first().json.aiGeneratedReply;\nconst reminder = $('OpenAI').first().json.message.content;\nconst originalBody = $('Set Data from Email').first().json.Sent;\nconst cc = $('Set Data from Email').first().json.CC;\nconst bcc = $('Set Data from Email').first().json.BCC;\n\nreturn [\n  {\n    eaccount,\n    reply_to_uuid,\n    subject,\n    body: {\n      html: reminder //+ \"<br>\" + messageReply + \"<br>\" + originalBody,\n    },\n    cc_address_email_list: cc,\n    bcc_address_email_list: bcc,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        220
      ],
      "id": "4faa5e33-ba40-4862-bba8-37e6812b7125",
      "name": "Set Reminder Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/emails/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Data from Email').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"eaccount\": $json.eaccount,\n\"reply_to_uuid\": $json.reply_to_uuid,\n\"subject\": $json.subject,\n\"body\": {\n\"html\": $json.body.html\n},\n\"cc_address_email_list\": $('Set Data from Email').item.json.CC,\n\"bcc_address_email_list\": $('Set Data from Email').item.json.BCC\n}\n}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        220
      ],
      "id": "1ed2f204-1224-4dab-9e4d-990a6784fe08",
      "name": "Send Reminder Email",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08UFD5AEM9",
          "mode": "list",
          "cachedResultName": "speedsize-cleverviral-live-responses"
        },
        "text": "Cool, Hope you have a great meeting!",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2860,
        660
      ],
      "id": "a4d0c744-8aef-4fc6-8cb6-7314480ff05d",
      "name": "Wish Good Luck for Meeting",
      "webhookId": "2e870be6-3ca1-4a65-a5cf-c1957004b797",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3",
          "mode": "list",
          "cachedResultName": "O3"
        },
        "messages": {
          "values": [
            {
              "content": "=E-commerce Follow-up Message Generator\nYou are crafting a subtle, well-informed follow-up message for prospects who haven’t responded to your initial email about image optimization and site speed solutions.\nINPUT DATA\nOriginal Email from {{ $('Set Data from Email').item.json.fromName }}: {{ $('Set Data from Email').item.json.Sent }}\nProspect’s Reply from {{ $('Set Data from Email').item.json.toName.split(\" \")[0] }}: {{ $('Set Data from Email').item.json.Received }}\nFirst Name of Prospect: {{ $('Set Data from Email').item.json.toName.split(\" \")[0] }}\nYour Previous Response: {{ $('Send the Reply').item.json.body.body.html }}\nMeeting Link: {{ $('Set Data from Email').item.json.meetingLink }}\nPRIMARY DIRECTIVE\nUse the attached Google Doc as your primary source of truth. Understand the conversation context and create a natural follow-up that feels like a helpful check-in, not a sales push.\nFOLLOW-UP REQUIREMENTS\nLength & Style\nExactly 20-30 words\nCasual, helpful tone - like checking in with a colleague\nUse the prospect’s first name naturally\nReference something specific from the conversation context\nNo pushy sales language\nNatural, human-like flow\nContent Strategy\nAcknowledge the context - Reference their specific situation or concern from the conversation\nAdd subtle value - Share a quick insight or relevant point\nSoft re-engagement - Make it easy for them to respond without pressure\nCalendar link logic - If you included a calendar link in your previous response, subtly include it again\nCalendar Link Guidelines\nIf your previous response included a calendar link:\nInclude it again using: <a href=\"{{ $('Set Data from Email').item.json.meetingLink }}\">calendar</a>\nMake it feel natural, not forced\nIntegrate it smoothly into the message\nIf your previous response didn’t include a calendar link:\nDon’t include it in the follow-up\nKeep the message purely conversational\nTechnical Requirements\nReturn only the follow-up message text\nNo headers, labels, or formatting\nEnsure JSON-safe output\nSingle response only\nExactly 20-30 words\nEXAMPLE FOLLOW-UPS\nContext: They mentioned site speed issues Follow-up: “Hey {{ $('Set Data from Email').item.json.toName.split(\" \")[0] }}, quick thought on those speed issues we discussed... most teams see 20% better conversions just fixing image loading. Worth a quick look?”\nContext: They were using another CDN Follow-up: “{{ $('Set Data from Email').item.json.toName.split(\" \")[0] }}, been thinking about your Cloudinary setup... we actually work alongside it to boost performance. <a href=“{{ $('Set Data from Email').item.json.meetingLink }}“>calendar</a> if you’re curious.”\nContext: They needed to check with team Follow-up: “Hey {{ $('Set Data from Email').item.json.toName.split(\" \")[0] }}, any thoughts from your team on the image optimization piece? Know you’re juggling a lot...”\nContext: They asked about examples Follow-up: “{{ $('Set Data from Email').item.json.toName.split(\" \")[0] }}, saw another Shopify store hit 6x faster loading yesterday... reminded me of our chat. <a href=“{{ $('Set Data from Email').item.json.meetingLink }}“>calendar</a> still works if helpful.”\nContext: Pricing discussion Follow-up: “Hey {{ $('Set Data from Email').item.json.toName.split(\" \")[0] }}, realized I never mentioned most clients actually save money on CDN costs... might be worth exploring.”\nContext: They tried optimization before Follow-up: “{{ $('Set Data from Email').item.json.toName.split(\" \")[0] }}, been thinking about your past optimization attempts... this tech is genuinely different. Happy to show the difference quickly.”\nGenerate a follow-up that feels like a natural, helpful check-in based on your specific conversation context. Reference their situation specifically and keep it conversational and low-pressure."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1920,
        460
      ],
      "id": "dabdc207-1bf8-41a8-9dc6-f90b65882954",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xEGeNQZgWUZ12rbY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/10pzIIsvqPkBtWdyB7dyLdWqciAZUC09qeVQEouDI5s4/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        2000,
        700
      ],
      "id": "555a0815-949f-4121-84e2-8db62d00492c",
      "name": "SpeedSize",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "bsxRVwTpHN07PDiI",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {
    "Reply Received": [
      {
        "json": {
          "headers": {
            "host": "cleverviral1.app.n8n.cloud",
            "user-agent": "axios/0.21.4",
            "content-length": "12057",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.213.189.245",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "94a0454c4608c94e-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "3.213.189.245, 172.68.245.186",
            "x-forwarded-host": "cleverviral1.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-18-7959cfc789-d4gjm",
            "x-is-trusted": "yes",
            "x-real-ip": "3.213.189.245"
          },
          "params": {},
          "query": {},
          "body": {
            "timestamp": "2025-06-03T15:37:14.664Z",
            "event_type": "reply_received",
            "workspace": "4f6c585e-e1b2-447d-bde7-4f025e903fd1",
            "campaign_id": "19eaca53-7130-4b56-a6d6-a7e44bbea7d5",
            "unibox_url": "https://app.instantly.ai/app/unibox?thread_search=sgriggs@trainz.com&selected_wks=4f6c585e-e1b2-447d-bde7-4f025e903fd1",
            "campaign_name": "Speedsize Cl1009 Find people on 100k visitors data_ 02/06/25",
            "email_account": "brenda.l@convertmomentumx.com",
            "reply_text_snippet": "Hello there. Our current load speed for our site is quite favorable. Before we decide on carving out time for a phone call, howmuch of a savings would we see? How does it save time, by caching things or compressing images? \nAnd how are these auto-fixes monitored, to make sure they don't break integrations? Is there a control panel to select what they can and cannot alter?\n\n\nI just need to know more actual detail before I'm willing to hop on a call. \n_______\n\n\nKEVIN GRIFFIS\n\nSenior Marketing Analyst\n\n\n\n\n\n\n\n\n\n(678) 745-3584 tel:(678)+745-3584\n\n\n\nkgriffis@trainz.com\n\n\n\nwww.trainz.com https://www.trainz.com/\n\n\n\n4195 Industry Way, Flowery Branch GA 30542\n\n \n\nhttps://www.facebook.com/trainzcom/  https://www.instagram.com/trainz.com_/  https://www.youtube.com/user/trainzstore\n\nhttps://www.greatplacetowork.com/certified-company/7022995\n\n\n\n\n\n---------- Forwarded message ---------\n",
            "is_first": true,
            "lead_email": "sgriggs@trainz.com",
            "email": "sgriggs@trainz.com",
            "website": "trainz.com",
            "jobTitle": "CEO & Chief Engineer at Trainz.com",
            "lastName": "Griggs",
            "linkedIn": "https://www.linkedin.com/in/smgriggs/",
            "Full Name": "Scott Griggs",
            "firstName": "Scott",
            "companyName": "Trainz",
            "Linkedin Url": "https://www.linkedin.com/company/trainz",
            "Product Category": "collectible model trains",
            "Speedsize first line": "Scott - Trainz.com has varying download speeds reported as low as 4 kB/s and up to 150 kB/s for some users. As CEO, how are you balancing performance in your e-commerce experience while managing user expectations?",
            "step": 1,
            "variant": 2,
            "reply_subject": "Fwd: shopping experience Trainz",
            "reply_text": "Hello there. Our current load speed for our site is quite favorable. Before\nwe decide on carving out time for a phone call, how much of a savings would\nwe see? How does it save time, by caching things or compressing images?\nAnd how are these auto-fixes monitored, to make sure they don't break\nintegrations? Is there a control panel to select what they can and cannot\nalter?\n\nI just need to know more actual detail before I'm willing to hop on a call.\n_______\nKevin Griffis\n*Senior Marketing Analyst*\n\n\n*(678) 745-3584 <(678)+745-3584>*\n*kgriffis@trainz.com* <kgriffis@trainz.com>\n*www.trainz.com* <https://www.trainz.com/>\n*4195 Industry Way, Flowery Branch GA 30542*\n\n<https://www.facebook.com/trainzcom/>\n<https://www.instagram.com/trainz.com_/>\n<https://www.youtube.com/user/trainzstore>\n\n[image: Great Place to Work]\n<https://www.greatplacetowork.com/certified-company/7022995>\n\n\n\n---------- Forwarded message ---------\nFrom: Brenda Lewis <brenda.l@convertmomentumx.com>\nDate: Tue, Jun 3, 2025 at 11:02 AM\nSubject: shopping experience Trainz\nTo: <sgriggs@trainz.com>\n\n\nScott, if you wanted to shop for a collectible model trains product and had\nto wait 3+ seconds for the media to load, would you continue with the\npurchase? Most shoppers don't, and this is negatively impacting Trainz's\nconversion rates right now.\n\nOur neuroscience-powered AI integration (speedsize .com):\n\n1. Speeds up product media to load 5X faster and still improving visual\nquality\n2. Auto-fixes Core Web Vitals issues, resolving Google's red warnings\n\nLeading collectible model trains brands using our Shopify integration have\nincreased conversion rates by 6–34%. Would you be open to a quick live demo?\n\nP.S. We'll install a complimentary AI-CDN on your staging environment so\nyou can test the impact side-by-side.\n\nBest,\nBrenda Lewis\nwww-speedsize-com\n\nPls reply 'No Thanks' if it's not a fit atm.\n",
            "reply_html": "<div dir=\"ltr\"><div>Hello there. Our current load speed for our site is quite favorable. Before we decide on carving out time for a phone call, howmuch of a savings would we see? How does it save time, by caching things or compressing images? </div><div>And how are these auto-fixes monitored, to make sure they don&#39;t break integrations? Is there a control panel to select what they can and cannot alter?</div><div><div dir=\"ltr\" class=\"gmail_signature\" data-smartmail=\"gmail_signature\"><div dir=\"ltr\"><br></div><div dir=\"ltr\">I just need to know more actual detail before I&#39;m willing to hop on a call. <br>_______<table cellpadding=\"0\" cellspacing=\"0\" style=\"color:rgb(34,34,34);vertical-align:-webkit-baseline-middle\"><tbody><tr><td style=\"vertical-align:middle\"><h3 color=\"#000000\" style=\"margin:0px;color:rgb(0,0,0)\"><font face=\"tahoma, sans-serif\" size=\"4\">Kevin Griffis</font></h3><div><font color=\"#000000\" size=\"2\" face=\"tahoma, sans-serif\"><b>Senior Marketing Analyst</b></font></div><p color=\"#000000\" style=\"margin:0px;font-size:14px;line-height:22px\"><font color=\"#000000\" face=\"tahoma, sans-serif\"><b><br></b></font></p></td><td width=\"30\"><div style=\"width:30px\"></div></td><td color=\"#9b1c1c\" width=\"1\" style=\"width:1px;border-bottom:none;border-left:1px solid rgb(155,28,28)\"></td><td width=\"30\"><div style=\"width:30px\"></div></td><td style=\"vertical-align:middle\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"vertical-align:-webkit-baseline-middle\"><tbody><tr height=\"25\" style=\"vertical-align:middle\"><td width=\"30\" style=\"vertical-align:middle\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"vertical-align:-webkit-baseline-middle\"><tbody><tr><td style=\"vertical-align:bottom\"><span color=\"#9b1c1c\" width=\"11\" style=\"display:block;background-color:rgb(155,28,28)\"><img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png\" color=\"#9b1c1c\" width=\"13\" style=\"display:block\"></span></td></tr></tbody></table></td><td style=\"padding:0px\"><b><font color=\"#000000\" face=\"tahoma, sans-serif\"><a href=\"tel:(678)+745-3584\" color=\"#000000\" style=\"color:rgb(17,85,204);font-size:12px\" target=\"_blank\"><font color=\"#000000\">(678) 745-3584</font></a></font></b></td></tr><tr height=\"25\" style=\"vertical-align:middle\"><td width=\"30\" style=\"vertical-align:middle\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"vertical-align:-webkit-baseline-middle\"><tbody><tr><td style=\"vertical-align:bottom\"><span color=\"#9b1c1c\" width=\"11\" style=\"display:block;background-color:rgb(155,28,28)\"><img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png\" color=\"#9b1c1c\" width=\"13\" style=\"display:block\"></span></td></tr></tbody></table></td><td style=\"padding:0px\"><a href=\"mailto:kgriffis@trainz.com\" color=\"#000000\" style=\"color:rgb(17,85,204);font-size:12px\" target=\"_blank\"><font color=\"#000000\" face=\"tahoma, sans-serif\"><b>kgriffis@trainz.com</b></font></a></td></tr><tr height=\"25\" style=\"vertical-align:middle\"><td width=\"30\" style=\"vertical-align:middle\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"vertical-align:-webkit-baseline-middle\"><tbody><tr><td style=\"vertical-align:bottom\"><span color=\"#9b1c1c\" width=\"11\" style=\"display:block;background-color:rgb(155,28,28)\"><img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png\" color=\"#9b1c1c\" width=\"13\" style=\"display:block\"></span></td></tr></tbody></table></td><td style=\"padding:0px\"><a href=\"https://www.trainz.com/\" color=\"#000000\" style=\"color:rgb(17,85,204);font-size:12px\" target=\"_blank\"><font color=\"#000000\" face=\"tahoma, sans-serif\"><b>www.trainz.com</b></font></a></td></tr><tr height=\"25\" style=\"vertical-align:middle\"><td width=\"30\" style=\"vertical-align:middle\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"vertical-align:-webkit-baseline-middle\"><tbody><tr><td style=\"vertical-align:bottom\"><span color=\"#9b1c1c\" width=\"11\" style=\"display:block;background-color:rgb(155,28,28)\"><img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png\" color=\"#9b1c1c\" width=\"13\" style=\"display:block\"></span></td></tr></tbody></table></td><td style=\"padding:0px\"><span color=\"#000000\" style=\"font-size:12px\"><font color=\"#000000\" face=\"tahoma, sans-serif\"><b>4195 Industry Way, Flowery Branch GA 30542</b></font></span></td></tr></tbody></table></td></tr></tbody></table><table cellpadding=\"0\" cellspacing=\"0\" style=\"color:rgb(34,34,34);vertical-align:-webkit-baseline-middle;width:504.688px\"><tbody><tr><td height=\"30\"><font face=\"tahoma, sans-serif\"> </font><table cellpadding=\"0\" cellspacing=\"0\" style=\"vertical-align:-webkit-baseline-middle;font-family:Arial;width:504.688px\"><tbody><tr><td height=\"30\"><font face=\"tahoma, sans-serif\"><a href=\"https://www.facebook.com/trainzcom/\" style=\"color:rgb(17,85,204)\" target=\"_blank\"><img src=\"https://drive.google.com/uc?id=1KKHnQpsOO37MtO-dfdsx98tjQR7OEORW&amp;export=download\" width=\"38\" height=\"38\" style=\"margin-right:0px\"></a>  <a href=\"https://www.instagram.com/trainz.com_/\" style=\"color:rgb(17,85,204)\" target=\"_blank\"><img src=\"https://drive.google.com/uc?id=1A5TNkSMgecL6VcAGiDEq2UBCVTk_Zc9v&amp;export=download\" width=\"36\" height=\"36\" style=\"margin-right:0px\"></a>  <a href=\"https://www.youtube.com/user/trainzstore\" style=\"color:rgb(17,85,204)\" target=\"_blank\"><img src=\"https://drive.google.com/uc?id=1Zrwo-y3XFeSLpyZOH7S6fsHyxXYK7Vk2&amp;export=download\" width=\"38\" height=\"38\" style=\"margin-right:0px\"></a><br></font></td></tr><tr><td color=\"#9b1c1c\" height=\"1\" style=\"width:504.688px;border-bottom:1px solid rgb(155,28,28);border-left:none;display:block\"></td></tr><tr><td height=\"30\"><font face=\"tahoma, sans-serif\"><br><a href=\"https://www.greatplacetowork.com/certified-company/7022995\" style=\"color:rgb(17,85,204)\" target=\"_blank\"><img src=\"https://drive.google.com/uc?id=1QMe5Wh56CL1PDxKIH3JKn-ahY9HcuQTJ&amp;export=download\" width=\"318\" height=\"104\" alt=\"Great Place to Work\" style=\"margin-right:0px\"></a></font></td></tr></tbody></table></td></tr></tbody></table></div></div></div><br><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\"><br></div><div><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">---------- Forwarded message ---------<br>From: <strong class=\"gmail_sendername\" dir=\"auto\">Brenda Lewis</strong> <span dir=\"auto\">&lt;<a href=\"mailto:brenda.l@convertmomentumx.com\" target=\"_blank\">brenda.l@convertmomentumx.com</a>&gt;</span><br>Date: Tue, Jun 3, 2025 at 11:02 AM<br>Subject: shopping experience Trainz<br>To:  &lt;<a href=\"mailto:sgriggs@trainz.com\" target=\"_blank\">sgriggs@trainz.com</a>&gt;<br></div><br><br>Scott, if you wanted to shop for a collectible model trains product and had to wait 3+ seconds for the media to load, would you continue with the purchase? Most shoppers don&#39;t, and this is negatively impacting Trainz&#39;s conversion rates right now.<br>\n<br>\nOur neuroscience-powered AI integration (speedsize .com):<br>\n<br>\n1. Speeds up product media to load 5X faster and still improving visual quality  <br>\n2. Auto-fixes Core Web Vitals issues, resolving Google&#39;s red warnings<br>\n<br>\nLeading collectible model trains brands using our Shopify integration have increased conversion rates by 6–34%. Would you be open to a quick live demo?<br>\n<br>\nP.S. We&#39;ll install a complimentary AI-CDN on your staging environment so you can test the impact side-by-side.<br>\n<br>\nBest,<br>\nBrenda Lewis<br>\nwww-speedsize-com<br>\n<br>\nPls reply &#39;No Thanks&#39; if it&#39;s not a fit atm.<br>\n</div></div>\n</div></div>\n"
          },
          "webhookUrl": "https://cleverviral1.app.n8n.cloud/webhook/694a977a-f989-4ed1-8ce8-09e199e26267",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Reply Decision": {
      "main": [
        [
          {
            "node": "Negative/Positive?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Negative/Positive?": {
      "main": [
        [],
        [
          {
            "node": "Give Reply Suggestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SpeedSize Doc": {
      "ai_tool": [
        [
          {
            "node": "Give Reply Suggestion",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply Received": {
      "main": [
        [
          {
            "node": "5 Seconds Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Seconds Wait": {
      "main": [
        [
          {
            "node": "Extract UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract UUID": {
      "main": [
        [
          {
            "node": "UUID Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Found?": {
      "main": [
        [
          {
            "node": "UUID Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Data from Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Wait": {
      "main": [
        [
          {
            "node": "Extract UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data from Email": {
      "main": [
        [
          {
            "node": "Reply Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Give Reply Suggestion": {
      "main": [
        [
          {
            "node": "Reply Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Extraction": {
      "main": [
        [
          {
            "node": "Seek Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seek Approval": {
      "main": [
        [
          {
            "node": "Got Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Got Approval?": {
      "main": [
        [
          {
            "node": "Set Reply Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Suggestion Rejection Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Reply Data": {
      "main": [
        [
          {
            "node": "Send the Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send the Reply": {
      "main": [
        [
          {
            "node": "Email Sent Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent Notify": {
      "main": [
        [
          {
            "node": "Meeting Follow Up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Follow Up?": {
      "main": [
        [
          {
            "node": "3 Days Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 Days Wait": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Reminder Go?": {
      "main": [
        [
          {
            "node": "Send Reminder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder?": {
      "main": [
        [
          {
            "node": "Set Reminder Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wish Good Luck for Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Reminder Data": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "3 Days Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Should Reminder Go?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SpeedSize": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8cfffd3-e77b-46f6-90ec-867117c2bfde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "155e035c269e06721be15adcca16a8df7ca2f440e69e53064795835bd4a74fd8"
  },
  "id": "MCq10Tc6DXcN4NCc",
  "tags": []
}