CleverResponder Instantly.json
{
  "name": "CleverResponder - Instantly",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "694a977a-f989-4ed1-8ce8-09e199e26267",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2060,
        120
      ],
      "id": "f8fec480-fe23-499f-bb0a-e800c2063860",
      "name": "Webhook",
      "webhookId": "694a977a-f989-4ed1-8ce8-09e199e26267"
    },
    {
      "parameters": {
        "url": "https://api.instantly.ai/api/v2/emails",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email_type",
              "value": "received"
            },
            {
              "name": "campaign_id",
              "value": "={{ $('Webhook').item.json.body.campaign_id }}"
            },
            {
              "name": "mode",
              "value": "emode_focused"
            },
            {
              "name": "search",
              "value": "={{ $('Webhook').item.json.body.lead_email }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer MDg0NDNiODAtZTBjNi00YzI0LWIzMzQtMDUwMTAyZTEwMGExOmdDY0ZXeERCQkJSRA=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1640,
        120
      ],
      "id": "d0e4e0bf-83c1-4420-835f-3adb91ae585d",
      "name": "Extract More Info",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9c1ace5-f2ab-4b3a-abb0-4528b28abff5",
              "name": "Sent",
              "value": "={{ $('5 Seconds').item.json.body.reply_text.split(\"\\n\\nOn\")[1] }}",
              "type": "string"
            },
            {
              "id": "461b6638-517d-41d2-a5d3-840544a9a392",
              "name": "fromMail",
              "value": "={{ $('Extract More Info').item.json.items[0].to_address_email_list }}",
              "type": "string"
            },
            {
              "id": "28d22ba1-d7c1-4552-8dbd-89ca1164e6fd",
              "name": "toMail",
              "value": "={{ $('Extract More Info').item.json.items[0].from_address_json[0].address }}",
              "type": "string"
            },
            {
              "id": "f15dad14-54ee-4cc8-af98-7b2306b798b5",
              "name": "campaignID",
              "value": "={{ $('Extract More Info').item.json.items[0].campaign_id }}",
              "type": "string"
            },
            {
              "id": "950be8cc-7b49-448d-b5b1-0de5a35f4aed",
              "name": "=campaignName",
              "value": "={{ $('Webhook').item.json.body.campaign_name }}",
              "type": "string"
            },
            {
              "id": "e86a8dfd-28af-424d-a87f-4ceed39880b7",
              "name": "toName",
              "value": "={{ $('Extract More Info').item.json.items[0].from_address_json[0].name }}",
              "type": "string"
            },
            {
              "id": "7583f439-21ba-4e51-837f-3973504e1814",
              "name": "apiKey",
              "value": "MDg0NDNiODAtZTBjNi00YzI0LWIzMzQtMDUwMTAyZTEwMGExOmdDY0ZXeERCQkJSRA==",
              "type": "string"
            },
            {
              "id": "95987bcc-c89c-4ac3-8ce2-998b9186cae9",
              "name": "meetingLink",
              "value": "https://www.calendly.com",
              "type": "string"
            },
            {
              "id": "88100fe3-bb8c-402a-9904-aaf239aeeba0",
              "name": "CC",
              "value": "",
              "type": "string"
            },
            {
              "id": "45689859-9385-41d7-86c4-cf7143917ac7",
              "name": "BCC",
              "value": "",
              "type": "string"
            },
            {
              "id": "8293b5ba-29fc-4f93-b292-1eccb7a7114b",
              "name": "UUID",
              "value": "={{ $('Extract More Info').item.json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "1089ad56-fc8d-444c-85c0-0218826bbd73",
              "name": "Received",
              "value": "={{ $('5 Seconds').item.json.body.reply_text_snippet }}",
              "type": "string"
            },
            {
              "id": "0dfde7e0-6384-450e-9e50-9cd6b23d3a6d",
              "name": "fromName",
              "value": "={{ $json.items[0].to_address_json[0].name || $json.items[0].to_address_json[0].address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        120
      ],
      "id": "3f97cc7a-d97c-4ce3-a981-d038c6530c0e",
      "name": "Set Email Data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "O3-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Based on the following email sent by {{ $json.fromName }}:\n{{ $json.Sent }}\n\nHere's the reply I received from {{ $json.toName }}:\n{{ $json.Received }}\n\nUse the content from the attached Google Doc as the primary source for crafting useful and engaging response that is most likely to increase the recipient’s interest or engagement. If specific information required for generating a response is not available in the document, generate the reply based on what would be most suitable or relevant given the context.\n\nIf the received message is positive and expresses interest, requests more information, or suggests further discussion, include the following Calendly link in the responses to allow the recipient to easily book a call:\n\n{{ $json.meetingLink }}\n\nOnly include the Calendly link if the message shows a clear intent for follow-up or further conversation.\n\nJust write the response, no label, no header, just a reply that you have generated. You should only return one best possible reply. Write a reply in such a way that if I send your reply to n8n then it should not give any error like JSON syntax error."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1240,
        120
      ],
      "id": "636a2c4e-cf3b-4703-8d20-ccba1be5484e",
      "name": "Suggest Reply",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "xEGeNQZgWUZ12rbY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/10pzIIsvqPkBtWdyB7dyLdWqciAZUC09qeVQEouDI5s4/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -1160,
        340
      ],
      "id": "91193ebd-6a24-41f7-9898-b4c4b3c140bf",
      "name": "Cleverviral",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "bsxRVwTpHN07PDiI",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/emails/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Email Data').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"eaccount\": $json.eaccount,\n\"reply_to_uuid\": $json.reply_to_uuid,\n\"subject\": $json.subject,\n\"body\": {\n\"html\": $json.body.html\n},\n\"cc_address_email_list\": $('Set Email Data').item.json.CC,\n\"bcc_address_email_list\": $('Set Email Data').item.json.BCC\n}\n}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -20
      ],
      "id": "7b7543bb-6a59-4f04-9cb4-872bc434c33d",
      "name": "Send Reply"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "value": "U08QNAFRU73",
          "mode": "list",
          "cachedResultName": "krunal"
        },
        "message": "=You have received a reply from {{ $('Set Email Data').item.json.toName }} ({{ $('Set Email Data').item.json.toMail }}) as follows:\n{{ $('Set Email Data').item.json.Received }}\n\nAnd here's the CleverResponder generated reply. \n{{ $json.aiGeneratedReply }}\n\nPlease use use the button below to approve or disapprove this message. If you approve it, then CleverResponder will send it as a reply.",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Send",
            "disapproveLabel": "Don't Send"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -660,
        120
      ],
      "id": "73fbe7a5-1d4a-4567-b956-3a9f7ca24696",
      "name": "Ask for Approval",
      "webhookId": "a0ff7a6c-7dcb-4cb4-83cb-4ec349295623",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b52c2c2-831f-4b62-ada9-300acbf3e9a5",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        120
      ],
      "id": "2bca0f7b-77ca-42b2-a547-10a3df667d94",
      "name": "Approved?"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08QNAFRU73",
          "mode": "list",
          "cachedResultName": "krunal"
        },
        "text": "You have rejected the CleverResponder's suggested reply. You have to reply manually.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -180,
        260
      ],
      "id": "3e6e4518-278a-4e63-bef0-4f5f8d415650",
      "name": "Manual Reply Notification",
      "webhookId": "143156f6-4f0c-4997-b9a1-97ca81c0cdc0",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08QNAFRU73",
          "mode": "list",
          "cachedResultName": "krunal"
        },
        "text": "Your message has been sent.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        180,
        -20
      ],
      "id": "2a77f5dd-1cd6-43f5-9a68-5fe59d45a3fe",
      "name": "Email Sent Notification",
      "webhookId": "c94ba691-4f65-4866-8fd0-d5968bd8e19b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1840,
        120
      ],
      "id": "72758079-fd8e-4d20-9024-772b610aa8e7",
      "name": "5 Seconds",
      "webhookId": "ef5db843-40a3-43d5-97a6-458325f03389"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d643153-9a9c-40ac-a33c-b8c2b87db9b0",
              "name": "aiGeneratedReply",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        120
      ],
      "id": "97970c63-a06b-4a82-96a1-f4355207ba52",
      "name": "AI Reply Extraction"
    },
    {
      "parameters": {
        "jsCode": "const eaccount = $('Set Email Data').first().json.fromMail;\nconst reply_to_uuid = $('Set Email Data').first().json.UUID;\nconst subject = $('Extract More Info').first().json.items[0].subject;\nconst messageReply = $('AI Reply Extraction').first().json.aiGeneratedReply;\nconst originalBody = $('Set Email Data').first().json.Sent;\nconst cc = $('Set Email Data').first().json.CC;\nconst bcc = $('Set Email Data').first().json.BCC;\n\nreturn [\n  {\n    eaccount,\n    reply_to_uuid,\n    subject,\n    body: {\n      html: messageReply //+ originalBody,\n    },\n    cc_address_email_list: cc,\n    bcc_address_email_list: bcc,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -20
      ],
      "id": "354d5781-ebe2-485d-a74b-5e53e189cae9",
      "name": "Set Data for Reply"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fea57b2-1b87-4e32-8e29-29ba86da7427",
              "leftValue": "={{ $('Send Reply').item.json.body.body.html }}",
              "rightValue": "={{ $('Set Email Data').item.json.meetingLink }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        -20
      ],
      "id": "6ca83ccd-f25a-41ae-9a89-fc7dbe5e19c7",
      "name": "Meeting Link Included?"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        600,
        -120
      ],
      "id": "879b75d1-a2f8-4ccf-8118-90314f1eb7f5",
      "name": "4 Days",
      "webhookId": "2386a4db-92c0-4db3-ac5c-6c542c9a566d"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "value": "U08QNAFRU73",
          "mode": "list",
          "cachedResultName": "krunal"
        },
        "message": "=Hello,\nBefore a few days, we sent a meeting booking link to {{ $('Set Email Data').item.json.toName }} ({{ $('Set Email Data').item.json.toMail }}). Just checking to see if they have booked a meeting. If not, I can simply send a friendly reminder to book a meeting.\nUse the below button either to send a meeting reminder or not.",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Send Reminder",
            "disapproveLabel": "No Need"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        800,
        -120
      ],
      "id": "8aef1ae4-ca13-4399-8126-7d40d49e19e6",
      "name": "Meeting Reminder Notification",
      "webhookId": "31b81659-6622-49bf-9de0-bfda5c7ff036",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const eaccount = $('Set Email Data').first().json.fromMail;\nconst reply_to_uuid = $('Set Email Data').first().json.UUID;\nconst subject = $('Extract More Info').first().json.items[0].subject;\nconst messageReply = $('AI Reply Extraction').first().json.aiGeneratedReply;\nconst reminder = \"Hi \" + $('Set Email Data').first().json.toName + \",\\n Just a quick reminder—we shared a meeting link a few days ago, but I noticed the call hasn’t been booked yet. Here it is again for your convenience:\" + $('Set Email Data').first().json.meetingLink + \"\\n Looking forward to connecting!\"\nconst originalBody = $('Set Email Data').first().json.Sent;\nconst cc = $('Set Email Data').first().json.CC;\nconst bcc = $('Set Email Data').first().json.BCC;\n\nreturn [\n  {\n    eaccount,\n    reply_to_uuid,\n    subject,\n    body: {\n      html: reminder //+ messageReply //+ originalBody,\n    },\n    cc_address_email_list: cc,\n    bcc_address_email_list: bcc,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        -320
      ],
      "id": "87c3ca16-8358-42fc-9ab9-8d7778eadad7",
      "name": "Set Data for Reminder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/emails/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Email Data').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"eaccount\": $json.eaccount,\n\"reply_to_uuid\": $json.reply_to_uuid,\n\"subject\": $json.subject,\n\"body\": {\n\"html\": $json.body.html\n},\n\"cc_address_email_list\": $('Set Email Data').item.json.CC,\n\"bcc_address_email_list\": $('Set Email Data').item.json.BCC\n}\n}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        -320
      ],
      "id": "3bec2326-a638-4f60-acf3-62cef4da1bfd",
      "name": "Send Reminder"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08QNAFRU73",
          "mode": "list",
          "cachedResultName": "krunal"
        },
        "text": "Cool, Hope you have a great meeting!",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1240,
        40
      ],
      "id": "83f0e31c-0757-4cff-a2e0-c0a339078dc7",
      "name": "Good Luck for Meeting",
      "webhookId": "2e870be6-3ca1-4a65-a5cf-c1957004b797",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qxYXHqg5Vawbjezu",
          "name": "Slack - Cleverviral"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "53a58944-cf6c-446b-be06-12a893484fc9",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        -120
      ],
      "id": "001bb2eb-5430-4d0f-8cbd-0c5acf65b7e8",
      "name": "If"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "cleverviral1.app.n8n.cloud",
            "user-agent": "axios/0.21.4",
            "content-length": "2260",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.239.192.87",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9443198e36662024-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "3.239.192.87, 172.71.222.183",
            "x-forwarded-host": "cleverviral1.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-18-7959cfc789-ft96v",
            "x-is-trusted": "yes",
            "x-real-ip": "3.239.192.87"
          },
          "params": {},
          "query": {},
          "body": {
            "timestamp": "2025-05-23T08:14:27.277Z",
            "event_type": "reply_received",
            "workspace": "08443b80-e0c6-4c24-b334-050102e100a1",
            "campaign_id": "3ca55f92-d78e-4ef4-9bf1-5be2629d4dbf",
            "unibox_url": "https://app.instantly.ai/app/unibox?thread_search=krunal@homelivingluxury.com&selected_wks=08443b80-e0c6-4c24-b334-050102e100a1",
            "campaign_name": "AI Responder Campaign",
            "email_account": "ashley@hellosnapattack.info",
            "reply_text_snippet": "Yes, I would like to know more about your services.\n\n",
            "is_first": true,
            "lead_email": "krunal@homelivingluxury.com",
            "email": "krunal@homelivingluxury.com",
            "lastName": "Shah",
            "firstName": "Krunal",
            "step": 1,
            "variant": 1,
            "reply_subject": "Re: Information Technology Service",
            "reply_text": "Yes, I would like to know more about your services.\n\nOn Fri, 23 May 2025 at 13:42, Ashley Turner <ashley@hellosnapattack.info>\nwrote:\n\n> Hello Krunal\n> Our company is providing various information technology related services.\n> Are you interested? Here's the list of services:\n> 1) Website Development\n> 2) Cybersecurity\n> 3) CRM and workflow automation\n> 4) Multimedia\n> 5) Human Resource\n> If you decide to go with our services then we can give you a massive\n> discount/discounts on the services.\n> Feel free to reach.\n> Best,\n> IT Services Pvt Ltd\n>\n",
            "reply_html": "<div dir=\"ltr\">Yes, I would like to know more about your services.</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Fri, 23 May 2025 at 13:42, Ashley Turner &lt;<a href=\"mailto:ashley@hellosnapattack.info\">ashley@hellosnapattack.info</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div>Hello Krunal </div><div>Our company is providing various information technology related services. Are you interested? Here&#39;s the list of services:</div><div>1) Website Development</div><div>2) Cybersecurity</div><div>3) CRM and workflow automation</div><div>4) Multimedia</div><div>5) Human Resource</div><div>If you decide to go with our services then we can give you a massive discount/discounts on the services.</div><div>Feel free to reach.</div><div>Best,</div><div>IT Services Pvt Ltd</div></blockquote></div>\n"
          },
          "webhookUrl": "https://cleverviral1.app.n8n.cloud/webhook/694a977a-f989-4ed1-8ce8-09e199e26267",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract More Info": {
      "main": [
        [
          {
            "node": "Set Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Data": {
      "main": [
        [
          {
            "node": "Suggest Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggest Reply": {
      "main": [
        [
          {
            "node": "AI Reply Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleverviral": {
      "ai_tool": [
        [
          {
            "node": "Suggest Reply",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply": {
      "main": [
        [
          {
            "node": "Email Sent Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Set Data for Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manual Reply Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent Notification": {
      "main": [
        [
          {
            "node": "Meeting Link Included?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Seconds": {
      "main": [
        [
          {
            "node": "Extract More Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Reply Extraction": {
      "main": [
        [
          {
            "node": "Ask for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data for Reply": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Link Included?": {
      "main": [
        [
          {
            "node": "4 Days",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "4 Days": {
      "main": [
        [
          {
            "node": "Meeting Reminder Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Reminder Notification": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data for Reminder": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set Data for Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Good Luck for Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "4 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38ef35c9-70ba-4989-897a-31091b9e25f8",
  "meta": {
    "instanceId": "155e035c269e06721be15adcca16a8df7ca2f440e69e53064795835bd4a74fd8"
  },
  "id": "MCq10Tc6DXcN4NCc",
  "tags": []
}